body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url('https://i.imgur.com/lOxCfjk.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для читаемости текста */
}

header p {
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для читаемости текста */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #4CAF50;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

img {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}


header p:last-child {
    font-size: 5em; /* 200% от 2.5em */
    margin: 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Сохранение тени для читаемости */
}


